*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.listitems{
list-style: none;
display: inline;
margin: 0px 20px;
}
.links{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.links:hover{
    color: gold;
    text-decoration: underline;
}
.homecontent{
    margin: 13% 0px 0px 8%;
}
#username{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    }
    #lname{
        font-family: "Edu AU VIC WA NT Hand", cursive;
        color: gold;
    }
    #userdetails{
        line-height: 1.2;
    }
    #download{
        text-decoration: none;
        background-color: black;
        color: aliceblue;
        border-radius: 10px;
        padding: 10px;
        display: inline-block;
        margin-top: 30px;

    }
    .homeimage{
        width: 45%;
        height: 75%;
        position: absolute;
        right: 30px;
        bottom: 0px;
    }
    .group1{
        position: absolute;
        height: 100%;
        bottom: 0px;
        left: 50px;
        transform: translateX(-50%);       
         transition: bottom 2s,left 1s;

    }
    .homeimage:hover #girl{
        left: 40%;
    }
    .homeimage:hover #shape{
     bottom: 70px;
    }
#about{
    margin: 15% 8% 0px 8%;
}
.sectionhead{
    text-align: center;
}
.mainhead{
    font-size: 30px;
    color: black;
}
.subhead{
    font-size: 20px;
    color: blue;
}
.aboutbody{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:50px;
    align-items: center;
}
.img1{
    width: 80%;

}
.aboutcontent{
    font-size: 20px;
    text-align: justify;
}
#skill{
    margin: 8% 8% 0px 8%;
}

.skillcontent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top:20px ;
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;

}
.barhead,.barpercent{
font-weight: 600;
font-size: 1.3rem;

}
.basebar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
     border-radius: 10px ;
     position: absolute;
     bottom: 0px;
}
.htmlbar{
    background-color: chocolate;
    width: 92%;
}
.cssbar{
    background-color: chocolate;
    width: 91%; 
}
.jsbar{
    background-color: chocolate;
    width: 85%; 
}
.reactbar{
    background-color: chocolate;
    width: 81%; 
}
.skillimage{
    display: flex;
    justify-content: space-evenly;
}
#contacts{
    margin: 8% 8% 0px 8%;
}
.iconcollections{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
    
}
.brands{
    color: black;
    font-size: 2rem;

}
.icon:hover{
    background-image: linear-gradient(to bottom left,orange ,black,yellow
    ,red,white);
}
.icon:hover .brands{
    color: aliceblue;
    /* animation */
    animation: rotate 3s;
}
  @keyframes rotate{
    0%{
        transform: rotate(90deg);
    }
    20%{
        transform: rotate(-90deg);
    }
    40%{
        transform: rotate(90deg);
    }
    60%{
        transform: rotate(-90deg);
    }
    80%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(-90deg);
    }  
}
footer{
    margin-top: 8%;

}
#copyright{
    text-align: center;
    font-weight: 500;
}
.upArrow{
    float: right;
    margin: -30px 20px 40px 0px ;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: azure;
}
::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 10px;
}

